<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app" v-on:keyDown="handleKeyDown">
        <h1 class="row">{{header}}</h1>
        <div class="row">
            <span class="col-md-2"></span>
            <input v-model="input" class="form-control col-md-8" type="text" />
            <span class="col-md-2"></span>
        </div>
        <h2>Todos</h2>
        <ul id="todos row">
            <li v-for="todo in todos" v-on:click="setDone" class="todo list-group-item">{{todo}}</li>
        </ul>
        <h2>Done</h2>
        <ul id="done">
            <li v-for="todo in done" v-on:click="setTodo" class="done list-group-item">{{todo}}</li>
        </ul>
        <div class="row">
            <button v-on:click="cleanDone" class="col-md-2 btn-warning">Clean Done</button>
        </div>
    </div>
</body>
<!--using Vue version compatible with Chromes Content Security Policy
https://github.com/vuejs/vue/tree/csp/dist-->
<script src="vue.min.js"></script>
<script src="todo.js"></script>

</html>